body {
    background-color: lightblue;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid 4px black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
    border-radius: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pangolin', cursive;
}

#start {
    border-radius: 15px;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: solid 2px black;
    font-family: 'Pangolin', cursive;
}

.d-pad{
    width: 140px;
    height: 140px;
    position: relative;
}

#up {
    position: absolute;
    left: 53px;
    width: 35px;
}

#right {
    position: absolute;
    right: 0;
    top: 49px;
    width: 35px;
}

#down {
    position: absolute;
    left: 53px;
    bottom: 0;
    width: 35px;
}

#left {
    position: absolute;
    top: 49px;
    width: 35px;
}

#gameOver {
    color: red;
    text-transform: uppercase;
    font-size: 80px;
}