body {
    background-color: lightblue;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}